//$primary_colour: #F26921;
//$primary_highlight: #0095DA;
//
//$standard_text_colour: #333333;
//$standard_bg_colour: #ffffff;
//
//$eve_amarr_body: #010101;
//$eve_amarr_content: #0F0D0C;
//$eve_blue: #369EBD;
//$eve_blue_highlight: ;
$eve_gold: #96732B;
$eve_white: #CFCFCE;

$eve_gold_omega: #FFCC00;

$eve_ore_button_active: #958D21;
$eve_ore_button_highlight: #6E691E;
$eve_ore_button: #43431A;

$eve_ore_body: #0B1216;
$eve_ore_content: #151D23;

$eve_skill_untrained: #444A4F;
$eve_skill_trained: #D0D2D3;
$eve_skill_training: #2F849E;

$eve_text_color_bold: #fff;
$eve_text_color: #C2C4C5;