<footer style="text-align: center">
    <hr>
    <p class="spacing">Project EVIE is still in ongoing development, many features are missing and any data displayed
        may be
        incorrect.
        <br>
        Please report any issues on the <a target="_blank" href="https://github.com/Ionaru/Project-EVIE/issues">
            issue tracker</a> and contribute on <a target="_blank"
                                                   href="https://github.com/Ionaru/Project-EVIE/tree/2.0">Github</a>!
    </p>
    <p class="spacing">Material related to EVE Online is used with limited permission of CCP Games hf. No official
        affiliation or
        endorsement by CCP Games hf is stated or implied.</p>
    <button id="refreshAPI" class="btn btn-danger" onclick="refreshAPI(5)">Force API refresh</button>
</footer>