<title>Project EVIE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon" href="/favicon.ico"/>

<script type="text/javascript" src="libs/jquery.min.js"></script>
<script type="text/javascript" src="libs/bootstrap.min.js"></script>
<script type="text/javascript" src="libs/jquery.timeago.js"></script>
<script type="text/javascript" src="libs/countUp.js"></script>
<script type="text/javascript" src="libs/cookie.min.js"></script>
<script type="text/javascript" src="libs/jquery.total-storage.js"></script>

<!-- Load custom styles and scripts -->
<link rel="stylesheet" href="/stylesheets/style.css"/>
<script src="/javascript/script.js"></script>