<div id="characterInfoWindow">
    <div class="window-content">
        <div class="window-title">
            <p>Character: Information
                <!--<button class="close-button">x</button>-->
            </p>
        </div>
        <hr>
        <div id="window-body">
            <img id="character-image" src="">
            <div id="character-info">
                <span id="characterModalTitle"></span>
                <hr>
                <div id="corporation">
                    <img id="corporation-image" src="">
                    <div id="corporation-info">
                        <p>Member of <span id="corporation-name"></span></p>
                        <p>Joined <span id="corporation-joined"></span></p>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <hr>
                <div id="alliance">
                    <img id="alliance-image" src="">
                    <div id="alliance-info">
                        <p id="alliance-name"></p>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <hr>
                <div id="info">
                    <p>Security status: <span id="security-status"></span></p>
                    <p id="bounty"></p>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>