<!DOCTYPE html>
<html lang="en">
<head>
    {{> header }}
</head>
<body>
<nav class="navbar-top">
    <a href="dashboard" class="navbar-brand">
            Project EVIE 2.0
        </a>
    <a href="dashboard" class="navbar-item">Dashboard</a>
    <a href="api" class="navbar-item">API Keys</a>
    <a href="logout" class="navbar-item">Logout</a>
</nav>
<nav class="navbar-side">
    <a href="charactersheet" class="navbar-item" title="Tooltip!"><img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/charactersheet.svg"></a>
    <a href="skills" class="navbar-item"><img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/skills.svg"></a>
    <a href="contacts" class="navbar-item"><img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/contacts.svg"></a>
    <a href="mail" class="navbar-item"><img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/evemail.svg"></a>
    <a href="market" class="navbar-item"><img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/market.svg"></a>
    <a href="wallet" class="navbar-item"><img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/wallet.svg"></a>
    <a href="assets" class="navbar-item"><img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/assets.svg"></a>
    <a href="planets" class="navbar-item"><img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/planets.svg"></a>
    <a href="industry" class="navbar-item"><img src="//data.saturnserver.org/eve/Icons/UI/WindowIcons/industry.svg"></a>
    <a href="calendar" class="navbar-item time"><span id="EVETime_Hours">00</span>:<span id="EVETime_Minutes">00</span></a>
</nav>
<div class="content">

    {{{body}}}
</div>
{{> footer }}
{{> information }}
</body>
</html>
