<div id="WalletContent">
    <h2 class="spacing-bottom">Current balance:
        <span id="balanceSpan">...</span>
    </h2>
    <a class="anchor" name="Journal"></a>
    <h2 class="walletHead">Journal</h2>
    <a href="#Transactions"> Jump to Transactions</a>
    <table class="journalTable table">
        <thead>
        <tr>
            <th class="left">Date (EVE Time)</th>
            <th class="left">Type</th>
            <th class="left">From</th>
            <th class="left">Amount</th>
            <th class="left">Balance</th>
        </tr>
        </thead>
        <tbody id="WalletJournalBody"></tbody>
    </table>
    <span id="moreJournal">Load more entries
        <a id="moreJournal50">50</a>
        <a id="moreJournal100">100</a>
        <a id="moreJournal250">250</a>
        <a id="moreJournal1000">1000</a>
        <a id="moreJournalAll">Max</a>
    </span>
    <span id="loadingiconW"></span>
    <hr class="opacity-20">
    <a class="anchor" name="Transactions"></a>
    <h2 class="walletHead">Transactions</h2>
    <a href="#Journal"> Jump to Journal</a>
    <table class="transactionsTable table">
        <thead>
        <tr>
            <th class="Date">Date (EVE Time)</th>
            <th>Information</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody id="WalletTransactionsBody"></tbody>
    </table>
    <span id="moreTransactions">Load more entries
        <a id="moreTransactions50">50</a>
        <a id="moreTransactions100">100</a>
        <a id="moreTransactions250">250</a>
        <a id="moreTransactions1000">1000</a>
        <a id="moreTransactionsAll">Max</a>
    </span>
    <span id="loadingiconT"></span>
    <a href="#" class="back-to-top"></a>
</div>